@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://use.typekit.net/yxm7oft.css");

:root{
--name: "Poppins", sans-serif;

:root{
--ubunto:  font-family: "Ubuntu", sans-serif;    
}


}
:root{
    --fotr: "Bebas Neue";
    --tittle: "Fjalla One", sans-serif;
    --menu: "muli", sans-serif;
}

*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    overflow-x: hidden;
}

header{   min-height: 95px;
    max-width: 100vw;
    background-color:#ff9900;
    }

body {

    font-family: Arial, sans-serif;
    margin: 0;
    background-color:#ffffff; /* Cor de fundo do corpo da página */
    color: #333; /* Cor do texto padrão */
}

.center{
    display: flex;
    
}

.logo{
    margin-left: 40px;
    margin-top: 5px;
    width: 10%;
    display: flex;
}

.text{
width: 10%;
color: #ffffff;
font-size: 25px;
font-family: var(--tittle);
justify-items:center;
align-content: center;
letter-spacing: 2px;
}

.menu{
    display: flex;
    align-items: center;
    justify-items:center;
    align-content: center;
    font-family:var(--menu);
    letter-spacing: 1px;
    justify-items:center;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;

}

.menu a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 31px;
    
    font-weight: bold;
    transition:0.5s;

    
}

.carousel-container {
    position: relative;
    width: 1100px; /* Largura de cada painel */
    margin: 50px auto;
    overflow: hidden; /* Adicionando overflow: hidden para esconder conteúdo que ultrapassa a largura */
    background-color: rgb(255, 255, 255); /* Cor de fundo do contêiner do carrossel */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 4400px; /* Largura total do carrossel - 4 painéis * 1100px */
}

.panel {
    width: 1100px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #cccccc00; /* Cor da borda dos painéis */
   
    overflow: hidden; /* Garantindo que a imagem não ultrapasse as bordas arredondadas */
    background-color: rgb(255, 255, 255); /* Cor de fundo dos painéis */
}

#panel1 p {
    position: absolute;
    color: white;
    left: 200px;
    top: 10px;
}

.content {
    padding: 20px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #00000000; /* Cor de fundo das setas de navegação */
    
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.Popular{
    width: 1920px;
    height: 1000px;
    
}
#pops{
    background-color: #ff9800;
    height: 50px;
    font-size:40px;
    color: #fffffe;
    padding-left: 40px;
    border-radius: 23px;
    width: 1800px;
    padding-top: 10px;
    margin-left: 30px;
}

.Caixas_teste{
    width:1920px ;
    display: flex;
    height: 700px;
    background-color:rgb(255, 255, 255);
    justify-content: center;

    
}

.imagem{
    height:335px;
    width:500px;

    background-size:cover ;
    background-repeat: no-repeat;
    margin:  40px 30px 0px 0px;
  }
  
  .texto{
    height: 295px;
    padding:20px;
    font-family:Arial;
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity 0.2s linear;
    background-color:rgba(0,0,0,.7);
  }
  
  .imagem:hover .texto{
    opacity:1;
   }

   #img1{
    background-image: url(../img/conjunto-img/ciencia\ e\ vida.JPG);
    

    
  }
  #img2{
    background-image: url(../img/conjunto-img/castelos\ de\ açu.jpg);
    
    
  }
  #img3{
    background-image: url(../img/conjunto-img/Parque\ natural\ nova\ iguacu.jpg);
    
  }

  fieldset{
    min-height: 300px;
    max-width: 100vw;
    background-color:#ff9900;
    
  }
  .roda{
    display: flex;
  }
  fieldset img{
    width: 50px;
    height: 50px;
    margin:25px 0px 0px 20px;
  }

  fieldset p{
    margin:40px 0px 0px 20px;
    font-size: 30px;
  }

   @media screen and (max-width: 1100px){

        .carousel-container {
            position: relative;
            width: 300px; /* Largura de cada painel */
            margin: 50px auto;
            overflow: hidden; /* Adicionando overflow: hidden para esconder conteúdo que ultrapassa a largura */
            background-color: rgb(255, 255, 255); /* Cor de fundo do contêiner do carrossel */
        }
        
        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
            width: 1200px; /* Largura total do carrossel - 4 painéis * 1100px */
        }
        
        .panel {
            width: 300px;
            height: 200px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            border: 1px solid #cccccc00; /* Cor da borda dos painéis */
           
            overflow: hidden; /* Garantindo que a imagem não ultrapasse as bordas arredondadas */
            background-color: rgb(255, 255, 255); 
        }
       

    }
