@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url("https://use.typekit.net/yxm7oft.css");

:root{
    --fotr: "Bebas Neue";
    --tittle: "Fjalla One", sans-serif;
    --menu: "muli", sans-serif;
}

*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    overflow-x: hidden;
}
header{   min-height: 95px;
    max-width: 100vw;
    background-color:#ff9800;
    }

body {

    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Cor de fundo do corpo da página */
    color: #333; /* Cor do texto padrão */
}
.center{
    display: flex;

}

.logo{
    margin-left: 40px;
    margin-top: 5px;
    width: 10%;
    display: flex;
}

.text{
width: 10%;
color: #ffffff;
font-size: 25px;
font-family: var(--tittle);
justify-items:center;
align-content: center;
letter-spacing: 2px;
}
.menu{
    display: flex;
    align-items: center;
    justify-items:center;
    align-content: center;
    font-family:var(--menu);
    letter-spacing: 1px;
    justify-items:center;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;

}

.menu a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 31px;
    
    font-weight: bold;
    transition:0.5s;

    
}

.box1{
    display: flex;
    
}
.Historia{
    margin: 175px 0px 175px 50px;
    text-align: justify;
    width: 40%;
    border: solid white 2px;
    padding: 5px;
    
}
.Imagem{
    width: 960px;
    height:540px;
    
}

fieldset{
    min-height: 300px;
    max-width: 100vw;
    background-color:#ff9900;
    
  }
  .roda{
    display: flex;
  }
  fieldset img{
    width: 50px;
    height: 50px;
    margin:25px 0px 0px 20px;
  }

  fieldset p{
    margin:40px 0px 0px 20px;
    font-size: 30px;
  } 
